<%# DRINK LIST %>
<div class="drinks">
  <% @drinks.each do |drink| %>
    <ul>
      <li>
        <h2><a href="/drinks/<%= drink.id %>">
            <%= drink.name %></a>
        </h2>
      </li>
    </ul>
  <% end %>
</div>

<%# NEW RECIPE BUTTON %>
<a class="btn" href="/new">Add Recipe</a>
