<!DOCTYPE html>
<html>


  <head>
    <title>Drinks App</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
  </head>

  <body>
    <h1>Cocktail Recipes</h1>
    <%= yield %>
  </body>


</html>
