<!DOCTYPE html>
<html>


  <head>
    <title>Drinks App</title>
    <link href="<link href='https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'>" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
  	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>
    <!-- nav -->
    <h1>Cocktail Recipes</h1>
    <%= yield %>
  </body>


</html>
