<h1>Create New Drink</h1>
<form method="POST" action="/drinks">
  Name: <br>
  <input type="text" name="drink[name]" value="Name"><br>
  Ingredients: <br>
  <input type="text" name="drink[ingredients]" value="Ingredients"><br>
  <input type="submit" value="Submit">
</form>
