<%# FORM FOR NEW RECIPE %>
<h2>Add a New Recipe</h2>
<form method="POST" action="/drink">
  Drink: <br>
  <input type="text" name="drink[name]" value="Name"><br>
  Ingredients: <br>
  <input type="text" name="drink[ingredients]" value="Ingredients"><br>
  Image: <br>
  <input type="text" name="drink[image]"      value="(URL)"><br>
  <input type="submit" value="Submit">
</form>
