
<h1>Cocktail Recipes</h1>

<%# FORM FOR NEW RECIPE %>
<h3>Add a New Recipe</h3>
<form method="POST" action="/drinks" class="form">
  Drink Name: <br>
  <input type="text" name="drink[name]" value=""><br>
  Ingredients: <br>
  <input type="text" name="drink[ingredients]" value=""><br>
  Image: <br>
  <input type="text" name="drink[photo_url]" value=""><br>
  <input type="submit" value="Submit">
</form><br>

<%# RETURN BUTTON %>
<form method="link" action="/" class="return">
  <input type="submit" value="Back to Drink List">
</form>
