<%# FORM FOR NEW RECIPE %>
<h3>Add a New Recipe</h3>
<form method="POST" action="/drinks" class="form">
  Drink Name: <br>
  <input type="text" name="drink[name]" value=""><br>
  Ingredients: <br>
  <input type="text" name="drink[ingredients]" value=""><br>
  <input type="submit" value="Submit">
</form><br>

<a class="link" href="/">Back to Drink List</a>
